h1 {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 200px;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin: 0 auto; */
}
 
.row {
  display: flex;
}
.row div {
  padding: 15px;
  border: 1px solid #000;
  position: relative;
  background-color:  #F7F2F2;
  /* right: 7%; */
}
.row div:last-child {
  padding: 15px;
  border: 0;
  position: relative;
 
  background-color:  #fff;
}
.row:last-child div {
  border: 0;
  padding: 16px;
  /* left: 1px; */
  background-color:  #fff;
}
.row:last-child  {
  position: relative;
  /* z-index: 1; */
  bottom: 17px;
  
  right: -1px;
}
span {
  z-index: 2;
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 8px;
  border-radius: 50%;
  border: 0;
  border: 1px solid #ECECEC;
}
.row:last-child .white, .row:last-child .black {
  top: 7px;
  left: -8px;
} 
.why {
  z-index: 1;
}
.white {
  /* border: 1px solid gray; */
  background-color: #fff;
  
}
.black {
  background-color: #3A3737;
  
  /* border: 1px solid gray; */
 
}